[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "douban"

[packages]
django = "*"
django-compressor = "*"
django-hosts = "*"
djangorestframework = "*"
markdown = "*"
pygments-style-github = "*"
pymdown-extensions = "*"
python-frontmatter = "*"
tqdm = "*"
watchdog = "*"
"ruamel.yaml" = "*"
"psycopg2-binary" = "*"
pendulum = "*"

[dev-packages]

[requires]
python_version = "3.7"
