-i https://pypi.douban.com/simple/
argh==0.26.2
asgiref==3.2.7
django-appconf==1.0.4
django-compressor==2.2
django-hosts==3.0
django==3.0.7
djangorestframework==3.9.0
markdown==3.0.1
pathtools==0.1.2
pendulum==2.0.4
psycopg2-binary==2.7.5
pygments-style-github==0.4
pygments==2.6.1
pymdown-extensions==6.0
python-dateutil==2.8.1
python-frontmatter==0.4.2
pytz==2020.1
pytzdata==2019.3
pyyaml==5.3.1
rcssmin==1.0.6
rjsmin==1.0.12
ruamel.yaml.clib==0.2.0 ; platform_python_implementation == 'CPython' and python_version < '3.9'
ruamel.yaml==0.16.10
six==1.15.0
sqlparse==0.3.1
tqdm==4.28.1
watchdog==0.9.0
